//Fonts Family
$font-family-base: "Montserrat", sans-serif;
$font-family-styled: "Fraunces", serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font Sizes
$font-size-sm: 13px;
$font-size-base: 14px;
$font-size-xl: 32px;

// Line Heights
$line-height-tight: 1;
